.adventages {
    height: auto;
    padding: 120px 0;
    position: relative;
    &__title {
        font-size: 36px;
        color: #fff;
        font-weight: 600;
        text-align: center;
        text-shadow:  0 0 20px #4A3AFF;
    }

    &-moon {
        position: absolute;
        top: 45px;
        left: 45px;
        img {
            filter: drop-shadow(0 0 10px #ffffff6b);
            animation: moon-animate 3s infinite;
        }
    }

    &-wrapper {
        display: flex;
        width: 100%;
        margin-top: 50px;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__text {
        width: 45%;
        position: relative;
        &-title {
            font-size: 30px;
            color: #fff;
            text-shadow: 0 0 20px #ffffff70;
            position: relative;
            z-index: 1;
            &::before {
                content: "";
                position: absolute;
                left: -10px ;
                top: -3px;
                width: 45px;
                height: 45px;
                z-index: -1;
                border-radius: 100%;
                background-color: #4A3AFF;
                box-shadow: 0 0 20px 5px #4a3aff71;
            }
        }
        &-descr {
            color: #afafaf;
            font-size: 20px;
            margin-top: 20px;
            line-height: 30px;
            letter-spacing: 0.5px;
        }

        &-image {
            position: absolute;
            left: -120px;
            bottom: -120px;
        }
    }
    &__container {
        width: 50%;
        padding-left: 70px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        &-pagination {
            display: flex;
            column-gap: 10px;
            margin-top: 20px;
            align-items: center;
            &-item {
                width: 15px;
                height: 15px;
                background-color: #fff;
                border-radius: 100%;
                position: relative;
                box-shadow: 0 0 20px 5px #a03aff00;
                cursor: pointer;
                transition: 0.3s ease-in-out;
                &-active {
                    background-color: #4A3AFF;
                    box-shadow: 0 0 15px 5px #4a3aff62;
                }
            }
        }

        &-image {
            position: absolute;
            right: -120px;
            top: -120px;
            transform: rotate(180deg);
        }
    }
    &__list {
        // display: flex;
        flex-direction: column;
        display: none;
        &-active{
            display: flex;
        }
    }
    &__item {
        display: flex;
        align-items: center;
        border-radius: 10px;
        border: 1px solid #585858;
        padding: 25px 30px;
        margin-top: 20px;
        position: relative;
        // animation: tab-animation 1s;
        &-text {
            color: #fff;
            padding-left: 20px;
            font-size: 20px;
        }
        &-block {
            padding: 10px;
            background: #fff;
            border-radius: 15px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

}

@keyframes moon-animate {
    0% {
        filter: drop-shadow(0 0 10px #ffffff6b);
    }
    50% {
        filter: drop-shadow(0 0 20px #ffffff6b);
    }
    100% {
        filter: drop-shadow(0 0 10px #ffffff6b);
    }
}
@keyframes tab-animation {
    0% {
        top: -30px;
        opacity: 0;
    }
    100% {
        top: 0;
        opacity: 1;
    }
}


