* {
    padding: 0;
    margin: 0;
    font-family: "Gilroy", sans-serif;
    box-sizing: border-box;
}
body {
    background-color: #020E20;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;  
    &:hover {
        text-decoration: none;
    }
}

button, input, textarea {
    border: none;
    outline: none;
    cursor: pointer;
}

ul, ol {
    list-style-type: none;
}

*::after, *::before {
    box-sizing: border-box;
}

#userPhone {
    font-family: monospace; /* Для равномерного отображения символов */
}

#userPhone::placeholder {
    color: #999; /* Цвет для подчеркиваний */
}